<div class="signup-wrapper">
  <h2 class="signup-heading">Please Sign-Up</h2>
  <form id="signup-form">
    <div>
      <label for="username-signup">User-name: </label>
      <input
        type="text"
        name="username"
        id="username-signup"
        placeholder="username"
      />
    </div>
    <div>
      <label for="password-signup">Password: </label>
      <input type="password" id="password-signup" placeholder="password" />
    </div>
    <button type="submit" class="submit-signup">Signup</button>
  </form>
  <div class="create-account-wrapper">
    <a href="/login">Already have an account?<span>Login here!</span></a>
  </div>
</div>

<script src="/javascript/signup.js"></script>